body {
  background-color: #121212; /* dark background */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.page-container {
  display: flex;
  background-color: #121212;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.logo {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.logo span {
  display: inline-block;
  transition: transform 0.3s;
}

.logo span:hover {
  transform: scale(1.2);
}

.logo .l1 { color: #99CCFF; }
.logo .l2 { color: #66B2FF; }
.logo .l3 { color: #3399FF; }
.logo .l4 { color: #007FFF; }
.logo .l5 { color: #004C99; }
.logo .l6 { color: #004C99; }
.logo .l7 { color: #808080; }
.logo .l8 { color: #808080; }
.logo .l9 { color: #999999; }
.logo .l10 { color: #B3B3B3; }

.register-box {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
  text-align: center;
}

.register-box h2 {
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.register-box p {
  margin-bottom: 2rem;
  color: #cccccc;
  font-size: 0.9rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  background-color: #2a2a2a;
  color: #ffffff;
}

input::placeholder {
  color: #bbbbbb;
}

button[type="submit"] {
  background-color: transparent;
  border: 2px solid #007FFF;
  color: #007FFF;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button[type="submit"]:hover {
  background-color: #007FFF;
  color:white;
}

button {
  width: 250px;
  padding: 0.75rem;
  border: 1px solid #009dff;
  background-color: transparent;
  color: #009dff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  align-self: center;
}

button:hover {
  background-color: #009dff;
  color: #000;
}

.paragraph{
  color: white;
}
