.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #111;
  color: #ccc;
  font-family: 'Segoe UI', sans-serif;
}

.logo {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.logo span {
  display: inline-block;
  transition: transform 0.3s;
}

.logo span:hover {
  transform: scale(1.2);
}

  .l1 {
    color: #99CCFF;
  }

  .l2 {
    color: #66B2FF;
  }

  .l3 {
    color: #3399FF;
  }

  .l4 {
    color: #007FFF;
  }

  .l5 {
    color: #004C99;
  }

  .l6 {
    color: #004C99;
  }

  .l7 {
    color: #808080;
  }

  .l8 {
    color: #808080;
  }

  .l9 {
    color: #999999;
  }

  .l10 {
    color: #B3B3B3;
  }

.card {
  background-color: #1b1b1b;
  padding: 2rem;
  border: 1px solid #333;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 15px #000;

  h2 {
    margin-bottom: 0.5rem;
    color: #fff;
  }

  p {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
  }

  input {
    width: 90%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
  }

  button {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #009dff;
    background-color: transparent;
    color: #009dff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    align-self: center;


    &:hover {
      background-color: #009dff;
      color: #000;
    }
  }
}

button {
  width: 250px;
  padding: 0.75rem;
  border: 1px solid #009dff;
  background-color: transparent;
  color: #009dff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  align-self: center;
}

button:hover {
  background-color: #009dff;
  color: #000;
}
